{% extends "index.html" %}

{% block content %}
<article class="post">
    <header>
        <h1>404: Page not found</h1>
    </header>
    <div class="content">
        Sorry, this page doesn't seem to exist.
    </div>
</article>
{% endblock content %}

