{% import "macros/page.html" as page_macros %}
<!DOCTYPE html>
<html lang="{% if lang %}{{ lang }}{% else %}en{% endif %}">
<head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer-when-downgrade">

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>

    <link rel="stylesheet" href="{{ get_url(path="main.css", trailing_slash=false) }}">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/favicon_io/site.webmanifest">

    {% if config.generate_feed %}
    <link rel="alternate" type={% if config.feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
    {% endif %}

    {% block meta_content %}
    {% endblock meta_content %}

    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
    <a class="skip-main" href="#main">Skip to content</a>
    <div class="header-container">
        <div class="container">
            <header> 
                <h1 class="site-header">
                    <a href="{{ config.base_url }}">{{ config.title }}</a>
                </h1>
                <nav>
                    {% block sidebar_nav %}
                    {% for menu_link in config.extra.anpu_menu_links %}
                    {% set link_url = menu_link.url | replace(from="$BASE_URL", to=config.base_url) %}
                    <a {% if current_url and current_url == link_url %}class="active"{% endif %} href="{{ link_url }}">{{menu_link.name}}</a>
                    {% endfor %}
                    {% endblock sidebar_nav %}
                </nav>
            </header>
        </div>
    </div>
    <div class="container">
        <main id="main" tabindex="-1">
            {% block content %}
                {% if paginator.pages %}
                {% for page in paginator.pages %}
                    {{ page_macros::page_listing(page=page) }}
                {% endfor %}
                {{ page_macros::page_pagination(paginator=paginator) }}
                {% else %}
                {% for page in section.pages %}
                    {{ page_macros::page_listing(page=page) }}
                {% endfor %}
                {% endif %}
            {% endblock content %}
        </main>
        <footer>
            <p>
                {% block footer %}
                {% endblock footer %}
            </p>
        </footer>
    </div>
</body>
</html>

