{% import "macros/page.html" as page_macros %}
{% extends "index.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block meta_content %}
    <meta name="description" content="{{ page.summary | striptags | safe }}" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@colinjwebb">
    <meta name="twitter:creator" content="@colinjwebb">
    <meta name="twitter:title" content="{{page.title}}">
    <meta name="twitter:description" content="{{ page.summary | striptags | safe }}">

    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{config.base_url | safe}}{{current_path | safe }}" />
    <meta property="og:site_name" content="{{config.title}}" />
    <meta property="og:title" content="{{page.title}}" />
    <meta property="og:description" content="{{ page.summary | striptags | safe }}" />

    {% if page.extra.ogimage %}
    <meta name="twitter:image" content="{{config.base_url | safe}}{{current_path | safe }}{{page.extra.ogimage}}" />
    <meta property="og:image" content="{{config.base_url | safe}}{{current_path | safe }}{{page.extra.ogimage}}" />
    {% endif %}
{% endblock %}

{% block content %}

<article class="post">
    <div class="header-banner">
        <header>
            <h1>{{ page.title }}</h1>
        </header>

        <div class="post-meta">
            {{ page_macros::page_info(page=page) }}
        </div>
    </div>

    <div class="content">
        {{ page.content | safe }}
    </div>
</article>

{% endblock content %}
